@import "../../styles/variables.scss";

.section-title {
  display: flex;
  flex-direction: column;

  &--margin {
    margin-bottom: 7rem;

    @media screen and(min-width: 1000px) {
      margin-bottom: 11rem;
    }
  }

  &--margin-sm {
    margin-bottom: 3rem;
  }

  &--centered {
    align-items: center;
    text-align: center;
  }

  &__description {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: $color-grey-light;
    opacity: 0;

    &.active {
      animation: fadeUp 0.72s $ease forwards;
    }
  }

  &__title {
    margin-bottom: 1.5rem;

    &__span {
      display: block;
      overflow: hidden;

      &__inner {
        display: block;
        text-transform: uppercase;
        transform: translateY(100%);

        &.active {
          animation: yZeroUp 0.72s $ease forwards;
        }
      }
    }
  }

  &__line {
    width: 5rem;
    height: 4px;
    background-color: $color-primary;
    transform: scaleX(0);
    transform-origin: 0% 100%;

    &.active {
      animation: scaleX1 0.72s $ease forwards 0.42s;
    }

    @media screen and(min-width: 700px) {
      width: 7rem;
    }
  }
}
