@import "../../../../styles/variables.scss";

.home-services {
  position: relative;
  width: 100%;
  padding: 7rem 0 7rem 0;
  display: flex;
  align-items: center;
  background-color: $color-white-dark;
  overflow: hidden;

  &__emblem {
    display: block;
    position: absolute;
    right: -50%;
    fill: rgba($color-grey, 0.04);
    height: 110%;

    @media screen and(min-width: 1000px) {
      right: -25%;
    }

    @media screen and(min-width: 1400px) {
      right: 2rem;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  &__heading-wrapper {
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and(min-width: 1300px) {
      margin-bottom: 9rem;
    }
  }

  &__heading-description {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: $color-primary;
    opacity: 0;

    &.active {
      animation: fadeUp 0.72s $ease forwards;
    }
  }

  &__heading {
    margin-bottom: 1.5rem;

    &__span {
      display: block;
      overflow: hidden;

      &__inner {
        display: block;
        text-transform: uppercase;
        transform: translateY(100%);

        &.active {
          animation: yZeroUp 0.72s $ease forwards;
        }
      }
    }
  }

  &__heading-line {
    display: block;
    width: 5rem;
    height: 4px;
    background-color: $color-primary;
    transform: scaleX(0);
    transform-origin: 0% 100%;

    &.active {
      animation: scaleX1 0.72s $ease forwards 0.42s;
    }

    @media screen and(min-width: 700px) {
      width: 7rem;
    }
  }

  &__services-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;

    @media screen and(min-width: 800px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media screen and(min-width: 1300px) {
      margin-bottom: 9rem;
    }
  }

  &__cta {
    opacity: 0;
    pointer-events: none;

    &.active {
      pointer-events: auto;
      animation: fadeUp 0.72s $ease forwards 0.24s;
    }
  }
}
