@import "./variables.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.11rem;
  line-height: 1.4;
  color: $color-black;

  @media screen and(min-width: 850px) {
    font-size: 1.9rem;
  }
}

p {
  text-indent: 2rem;
  color: $color-grey;
}

h1 {
  font-size: 2.3rem;
  letter-spacing: 0.24rem;

  @media screen and(min-width: 370px) {
    letter-spacing: 0.3rem;
    font-size: 2.4rem;
  }

  @media screen and(min-width: 500px) {
    font-size: 2.7rem;
  }

  @media screen and(min-width: 800px) {
    font-size: 2.8rem;
  }

  @media screen and(min-width: 1300px) {
    letter-spacing: 0.42rem;
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2.5rem;

  @media screen and(min-width: 900px) {
    font-size: 2.8rem;
  }
}

h3 {
}
