@import "./variables.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  line-height: 1.4;
  color: $color-black;

  @media screen and(min-width: 850px) {
    font-size: 1.9rem;
  }
}

p {
  text-indent: 2rem;
  color: $color-grey;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
  font-family: trumpgothicpro, sans-serif;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.18rem;

  @media screen and(min-width: 360px) {
    font-size: 4.5rem;
  }

  @media screen and(min-width: 450px) {
    font-size: 5.5rem;
  }

  @media screen and(min-width: 550px) {
    font-size: 5.7rem;
  }

  @media screen and(min-width: 850px) {
    letter-spacing: 0.24rem;
  }

  @media screen and(min-width: 1000px) {
    font-size: 7rem;
  }

  @media screen and(min-width: 1400px) {
    font-size: 7.4rem;
  }
}

h2 {
  font-size: 4rem;
  line-height: 1.1;
  font-family: trumpgothicpro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  text-transform: uppercase;
  letter-spacing: 0.11rem;

  @media screen and(min-width: 360px) {
    font-size: 4.5rem;
  }

  @media screen and(min-width: 450px) {
    font-size: 5.5rem;
  }

  @media screen and(min-width: 850px) {
    font-size: 6rem;
    letter-spacing: 0.18rem;
  }

  @media screen and(min-width: 1000px) {
    font-size: 6.5rem;
  }

  @media screen and(min-width: 1400px) {
    font-size: 7rem;
  }
}

h3 {
  font-size: 3.72rem;
  line-height: 1.1;
  font-family: trumpgothicpro, sans-serif;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
