// $color-primary: #0030b3;
// $color-primary-light: #0038d1;
// $color-primary-dark: #03299c;

// $color-black: #14191c;
// $color-black-light: #252c31;

// $color-grey: #524f69;
// $color-grey-light: #adb5bd;

// $color-white: #f9f9f9;
// $color-white-light: #ffffff;
// $color-white-dark: #eeeeee;
// $color-white-active: #c5c5ce;

//-----------------------------------

// $color-primary: #0030b3;
// $color-primary-light: #0038d1;
// $color-primary-dark: #03299c;
$color-primary: #003eff;
$color-primary-dark: #0031c4;

// $color-black: #14191c;
// $color-black-light: #252c31;
$color-black: #0e1113;
$color-black-light: #192025;

$color-grey: #524f69;
$color-grey-light: #adb5bd;

$color-white: #f9f9f9;
$color-white-light: #ffffff;
$color-white-dark: #eeeeee;
$color-white-active: #c5c5ce;

$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
