// $color-primary: #022589;
// $color-primary-light: #002ba1;
$color-primary: #0030b3;
$color-primary-light: #0038d1;
// $color-primary: #0000ff;

$color-black: #14191c;
$color-black-light: #252c31;

// $color-grey: #808080;
$color-grey: #524f69;
$color-grey-light: #c2c3c4;
// $color-grey-light: #acb6c0;
$color-grey-light: #adb5bd;

$color-white: #f9f9f9;
$color-white-light: #ffffff;
$color-white-dark: #eeeeee;

$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
