@import "../../../../styles/variables.scss";

.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-black;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 900;
    animation: yZeroUp 0.42s $ease forwards;
  }

  &__ul {
    color: $color-white;
    list-style: none;
    font-family: trumpgothicpro, sans-serif;
    line-height: 1.1;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.24rem;
    text-transform: uppercase;
    font-size: 3rem;

    @media screen and(min-width: 450px) {
      font-size: 3.5rem;
    }

    @media screen and(min-width: 700px) {
      font-size: 4rem;
    }
  }

  &__li {
    margin-bottom: 3rem;
    transition: color 0.24s $ease;
    opacity: 0;

    &:hover {
      color: $color-white-active;
    }

    animation: fadeUp 0.72s $ease forwards;

    @media screen and(min-width: 550px) {
      margin-bottom: 4rem;
    }

    &:nth-last-of-type(1) {
      animation-delay: 0.24s;
      margin-bottom: 0;
    }

    &:nth-last-of-type(2) {
      animation-delay: 0.34s;
    }

    &:nth-last-of-type(3) {
      animation-delay: 0.44s;
    }

    &:nth-last-of-type(4) {
      animation-delay: 0.54s;
    }
  }

  &__link {
    position: relative;

    &.active {
      color: $color-white-active;

      &::before {
        content: "";
        position: absolute;
        bottom: -0.42rem;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $color-primary;
        transform-origin: 0% 50%;
        animation: activeNav 0.42s $ease forwards;
      }
    }
  }
}
