@import "../../../../styles/variables.scss";

.navbar__top {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 9rem;
  width: 100vw;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__ul {
    font-family: trumpgothicpro, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.42rem;
    font-display: swap;
    list-style: none;
    display: none;
    letter-spacing: 0.24rem;
    @media screen and(min-width: 1000px) {
      display: flex;
    }
  }

  &__li {
    color: $color-white;
    margin-right: 3rem;

    &:nth-of-type(4) {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    transition: all 0.24s $ease;

    &:hover {
      color: $color-primary;
    }

    &.active {
      color: $color-white-active;

      &::before {
        content: "";
        position: absolute;
        bottom: -0.42rem;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $color-primary;
        transform-origin: 0% 50%;
        animation: activeNav 0.72s $ease forwards;
      }
    }
  }
}

@keyframes activeNav {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
