@import "../../../styles/variables.scss";

.footer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  background-color: $color-black;
  color: $color-white;

  &__emblem {
    position: absolute;
    height: 100%;
    transform: translateX(50%);
    top: 0;
    right: 50%;
    fill: rgba($color-grey, 0.07);
    z-index: 0;

    @media screen and(min-width: 750px) {
      transform: translateX(0);
      height: 124%;
      right: -25%;
    }

    @media screen and(min-width: 1100px) {
      transform: translateX(0);
      height: 142%;
      right: 0;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    @media screen and(min-width: 750px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &:nth-of-type(1) {
      padding: 7rem 0;
    }

    &:nth-last-of-type(1) {
      padding: 2rem 0;
      justify-content: space-between;
    }
  }

  &__col {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &:nth-of-type(1) {
      @media screen and(min-width: 750px) {
        width: 100%;
        margin-bottom: 7rem;
      }

      @media screen and(min-width: 1100px) {
        width: 33%;
        margin-bottom: 0;
      }
    }

    &:nth-of-type(2) {
      @media screen and(min-width: 750px) {
        width: 50%;
      }

      @media screen and(min-width: 1100px) {
        width: 33%;
      }
    }

    &:nth-of-type(3) {
      margin-bottom: 0rem;

      @media screen and(min-width: 750px) {
        width: 50%;
      }

      @media screen and(min-width: 1100px) {
        width: 33%;
      }
    }
  }

  &__col-bottom {
    margin-bottom: 3rem;
    text-align: center;
    z-index: 1;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }

  &__col-title {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
  }

  &__logo {
    display: block;
    width: 20rem;
    margin-bottom: 2rem;
  }

  &__contact {
    display: block;
    color: $color-grey-light;
    transition: color 0.24s $ease;
    margin-bottom: 0.5rem;

    &:hover {
      color: $color-white;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }

  &__ul-wrapper {
    text-align: center;

    @media screen and(min-width: 1100px) {
      text-align: left;
    }
  }

  &__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    display: inline-block;
  }

  &__li {
    color: $color-grey-light;
    transition: all 0.24s $ease;
    margin-bottom: 0.5rem;
    cursor: pointer;

    &:hover {
      color: $color-white;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    &--disabled {
      &:hover {
        color: $color-grey-light;
      }
    }

    &__link {
    }
  }

  &__link {
    margin-right: 2rem;
    color: $color-grey-light !important;
    transition: color 0.24s $ease;
    font-weight: 300;

    &:hover {
      color: $color-white !important;
    }

    &.secondary {
      opacity: 0.72;
    }
  }

  &__copyright {
    color: rgba($color-grey-light, 0.72);
    font-weight: 300;
  }
}
